<h1>Throne of Lies Data Tool</h1>
<form ref='uploadForm' 
    id='uploadForm' 
    action='/results' 
    method='post' 
    encType="multipart/form-data">
    <input type="file" name="upload" />
    <input type='submit' value='Upload!' />
</form>